*{
    box-sizing: border-box;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    background-image:linear-gradient(190deg,#a5495c, #e03715d5);
}

.search{
    position: relative;
    height: 50px;
}

.search .input{
    background-color: white;
    outline:none;
    border: 0;
    font-size: 24px;
    padding: 10px;
    width: 50px;
    height: 50px;
    transition: width 0.3s ease;
}

.btn{
    background-color: white;
    font-size: 24px;
    height: 50px;
    width: 50px;
    cursor: pointer;
    position: absolute;
    top:0;
    left: 0;
    outline: none;
    border: 0;
    transition: transform 0.3s ease;

}
.btn:focus, .input:focus{
    outline: none;
}
.search.active .input{
    width:200px;
    border-radius: 3px 0px 0px 3px;
}
.search.active .btn{
    transform: translateX(198px);
    border-radius: 0px 3px 3px 0px;
}